@font-face {
    /* Copying https://fonts.googleapis.com/css?family=Roboto+Slab%3A300&amp;ver=1.1.59 */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('./robotoslab.ttf') format('truetype');
}

body {
    /* Copying http://pleinlavue.org font settings */
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 300;
    background-color: #fafafa;
}

p {
    /* Reseting margins */
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    background-color: white;
}

#header li:not(#home) a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 0.8rem;
    transition: color 0.2s ease;
}

#header li:not(#home) a:hover,
footer a:hover {
    color: #222;
    background-color: #eee;
}

main {
    max-width: 100em;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 0.5em;
    border: none;
}

#intro,
#conclusion {
    margin: 1em;
}

#intro {
    font-weight: bold;
}

.email-maker-item {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 1em;
    border-radius: 3px;
}

#email-maker {
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-radius: 3px;
}

#email-to-copy {
    background-color: #ddd;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    border-radius: 3px;
}

.email-maker-item+.email-maker-item {
    border-left: solid 3px white;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

h2 {
    margin-top: 0;
    font-size: 1em;
    max-width: 60em;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 1em;
}

input,
textarea {
    margin: 1em;
    border: none;
}

textarea:focus,
input[type="text"]:focus {
    outline-color: #00804d;
    outline-style: solid;
}

input[type="checkbox"] {
    min-width: 3em;
}

#arguments label {
    cursor: pointer;
    padding: 1em;
    line-height: 1.2em;
    background-color: white;
    transition: background-color 0.4s ease;
    border-radius: 3px;
}

strong {
    font-weight: bold;
}

#arguments input:hover+label,
label:hover {
    background-color: #00804d30;
}

#arguments input:focus+label {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#arguments input:checked+label {
    background-color: #00804d;
    color: white;
}

.action-call,
.tip {
    text-align: center;
}

.action-call {
    color: #00804d;
    font-weight: bold;
}

#select-platform {
    margin-bottom: 2em;
    color: #00804d;
}

.tip {
    margin-bottom: 1em;
    color: #777;
    font-size: 0.9em;
}

#share-mails,
#share-mails a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.action-button {
    background-color: #00804d;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

#preparingEmailFailedTip {
    background-color: white;
    color: #222;
    padding: 0.5em;
    border-radius: 3px;
    margin: 0 1em;
    transition: height 0.5s ease;
    position: relative;
    display: block;
    height: 3em;
    overflow: hidden;
}

#preparingEmailFailedTip.hidden {
    height: 0;
    padding: 0;
}

#email {
    margin-top: 2em;
    background-color: #888;
    padding: 1em;
    border-radius: 3px;
    color: white;
}

#email-textarea {
    padding: 1em;
    border: solid;
    border-width: thin;
    flex: 1;
    background-color: white;
}

#email-textarea-info {
    font-style: italic;
}

.hidden {
    display: none;
}

#email div:not(:first-child) {
    margin-top: 1.5em;
}

#email .text {
    background-color: white;
    color: black;
}

#email span.text {
    padding: 0.2em 0.5em;
}

#email p.text {
    margin: 0.5em 0;
    padding: 1em;
}

div.row {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
}

#email-label {
    justify-content: center;
}

.custom-config {
    justify-content: left;
}

div.row label {
    cursor: pointer;
    font-weight: bold;
    margin-right: 1em;
}

div.row input {
    flex: 1 0 auto;
    align-self: stretch;
}

#share {
    text-align: center;
    margin-top: 3em;
}

#share-links,
#share-links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#share-links a {
    margin: 1em;
    padding: 0.5em 0.5em 0.5em 0;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

#facebook {
    background-color: #3b5998;
}

#twitter {
    background-color: #5fa8dc;
}

img.logo {
    max-height: 2em;
    margin: 0 0.5em;
}

footer {
    margin-top: 5em;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer a div {
    color: #777;
    transition: all 0.4s ease;
    min-width: 7em;
    min-height: 1em;
    flex: 1 0 auto;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

footer div {
    display: flex;
    align-items: center;
}

/*Large screens*/

@media screen and (min-width: 650px) {
    #header #home {
        margin-left: 1em;
        margin-right: auto;
    }
}

/*Small screens*/

@media screen and (max-width: 650px) {
    #header {
        /* flex-direction: column; */
        padding: 0;
        margin: 0;
    }
    #header li:not(#home) {
        display: none;
    }
    main {
        padding: 0;
    }
    .email-maker-item {
        padding: 0;
    }
    input[type="checkbox"] {
        min-width: 2em;
    }
    div.row {
        flex-direction: column;
        background-color: #bbb;
    }
    footer a {
        width: 7em;
    }
    #preparingEmailFailedTip {
        height: auto;
        margin-bottom: 1em;
    }
    #share-links {
        flex-direction: column;
        margin: 1em 0;
    }
    #share-links a {
        margin: 0.5em;
    }
}
